<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Away</title>
</head>


<body>
  <header>
    <nav>
      <ul>
        <li><a href="/admin">Admin</a></li>
        <li><a href="create"> New Post </a> </li>
      <ul>
    </nav>
  </header>
  <main>
    <p>
      <form method="GET">
        <input type="text" name="q"></input>
        <button type="submit">Search</button> 
    </form>
    </p>
    <h1>Blog Away</h1>
    {% for post in posts %}
      <ul>
        <li><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></li>
      </ul>
    {% empty %}
      You have no posts.
    {% endfor %}
  </main>
  <footer>
    <span>
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      <span>
        Page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </span>
  </footer>
</body>
</html>
